<html>
  <head>
    <title>Web OTP</title>
    <link href='/css/app.css' rel='stylesheet' />
    <!--Import Google Icon Font-->
    <link
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
      rel='stylesheet'
    />
    <!--Import materialize.css-->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
      media='screen,projection'
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png' />
    <link rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png' />
    <link rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png' />
    <link rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png' />
    <link
      rel='apple-touch-icon'
      sizes='114x114'
      href='/apple-icon-114x114.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='120x120'
      href='/apple-icon-120x120.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='144x144'
      href='/apple-icon-144x144.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='152x152'
      href='/apple-icon-152x152.png'
    />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/apple-icon-180x180.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='192x192'
      href='/android-icon-192x192.png'
    />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/manifest.json' />
    <meta name='msapplication-TileColor' content='#ffffff' />
    <meta name='msapplication-TileImage' content='/ms-icon-144x144.png' />
    <meta name='theme-color' content='#ffffff' />
  </head>
  <body>
    <div class='container main'>
      <a href='/'>
        <h1>
          <i class='material-icons fingerprint'>fingerprint</i>
          Web OTP
        </h1>
      </a>
      <hr />
      <blockquote>
        <h5 style='margin-bottom: 0.4em;'>Upload Google Authenticator migration
          image here.</h5>
        <input
          id='input-image'
          type='file'
          accept='image/*'
          style='margin-bottom: 1em;'
        />
        <br />
        <small>* TOTP token information will be deleted after 24 hours.</small>
        <p class='processing' style='display:none;'><i
            class='material-icons'
          >cloud_upload</i>
          Processing...</p>
      </blockquote>
      <progress max='100'></progress>
      <ul class='collection'>
        <li
          id='digit-example'
          class='collection-item avatar'
          style='display:none;'
        >
          <i class='material-icons circle'>lock</i>
          <span class='title'>Name</span>
          <br />
          <span class='issuer'>Issuer</span>
          <br />
          <span class='digit'>123456</span>
        </li>
      </ul>
    </div>
    <footer class='page-footer'>
      <div class='container'>
        <div class='row'>
          © 2024 Copyright By Hyeonseung Kang &lt;<a
            class='grey-text text-lighten-4'
            href='https://github.com/khskeb0513'
          >@khskeb0513</a>&gt;
        </div>
        <div class='row'>
          <a
            class='grey-text text-lighten-4'
            href='https://github.com/khskeb0513/web-otp'
          ><i class='material-icons'>link</i>
            Source Code</a>
        </div>
      </div>
    </footer>
    <script
      src='https://cdn.socket.io/4.3.2/socket.io.min.js'
      integrity='sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs'
      crossorigin='anonymous'
    ></script>
    <script src='/js/app.js'></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    ></script>
  </body>
</html>